body * {
    box-sizing: border-box;
}


    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background-color: rgb(219, 109, 109);
        padding: 0px 0px;
        box-sizing: border-box;
        border: 25px solid pink;
      }
   

    header h2 {
        font-family:'Times New Roman', Times, serif;
       font-size: 30px;
       color:rgb(255, 200, 200) ;
        padding-left: 15px;
        padding-right: 15px;
        /* display: inline    ; */
    }

    header > nav > ul {
         padding-left: 0%;
         text-align: center;
         padding: 3px 3px;
    }

    header > nav > ul > li {
         display: inline;
    }

    header > nav > ul > li > a {
       text-decoration:none;
       padding: 10px 40px;
       color: pink ;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-size:15px;
       display: inline;
    }

    header > nav > ul > li > a:hover {
      background-color: rgb(194, 70, 70);
      color: pink;

    }
        
    article {
         padding: 30px;
         width:99%;
         float: left;
    }


    #sidebar {
      margin-top: 50px;
      float: right;
      width: 10%;
      margin: 50px;
      padding: 0px;
    }

    #sidebar ul  {
          list-style: none;
          margin: 10px;
          padding: 0px;
    }

    #sidebar ul li {
      padding: 10px 10x;
      background-color: pink ;
      font-size: 20px;
      text-align: center;
      padding: 5px 5px;
    }

    footer {
       clear: both;
       background-color:rgb(219, 109, 109) ;
       color: pink;
       padding: 30px;
       text-align: center;
       font-size:larger;
        border: 15px solid pink;
    }

    footer {
           margin: 0px;
           font-size: large;
    }

    p {

        font-size: 18px;
        text-align: justify;
    }

    h1 {
        background-color:pink ;
        font-weight: 500;
        padding: 5px 5px;
    }
    
    h2{
        font-size: 19px;
    }

    em {
      background-color: pink ; 
    }